@import 'src/scss/colors.scss';

.game {
  display: flex;
	flex-direction: column;
	align-items: flex-start;

	> .roll {
		display: flex;
		flex-direction: row;
		justify-content: left;
		border-radius: 0.5rem 0.5rem 0.5rem 0rem;
		background: $gray;
		margin-right: 0.5rem;
	}
  > .label {
    border-radius: 0 0 0.5rem 0.5rem;
    background: $gray;
    padding: 0.2rem 0.4rem;
    color: $white;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.8);
    font-size: 0.6rem;
  }
}
